.MainLogin{
    color:aliceblue;
    border:1px solid;
    display: flex;
    flex-direction: column;
    width:70%;
    height: 150%;
    margin: auto;
    background-color: rgb(32, 32, 32);
    box-shadow: rgba(118, 116, 116, 0.25) 5px 54px 55px,rgba(118, 116, 116, 0.25) 5px -12px 30px, rgba(118, 116, 116, 0.25) 5px 4px 6px, rgba(118, 116, 116, 0.25) 5px 12px 13px,rgba(118, 116, 116, 0.25)0px -3px 5px;
   
}
.Left_Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.input11{
    width:300px;
    height:40px;
    margin:20px
}
.createbtn{
align-items: center;
margin-left: 14%;
}
