/* body{
  background-color: black;
  color: aliceblue;
}
.cardd{
  display: grid;
  grid-template-columns: auto auto auto auto;
  color:white;
  border-radius: 8px 0px 8px 8px;
  background-color: rgb(47, 46, 46);

}
.cardimg{
  width:150px;
  height: 200px;
  border-radius: 8px;
}
.cardd1{
box-shadow: 1px,1px,1px,1px whitesmoke;
  width:150px;
  margin:10px;
  border-radius: 8px ;
  background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(10px);
}

.searchbar{
  margin:20px

}

.movieDetailcard{
  display:flex;
  flex-direction:row;
}
.mid-card{
  display: flex;
}

.btn123{
  width:80px;
  background-color: inherit;
  margin-right: 10px;
  margin-left:-2px;
  border : 0px;
  color:gray;
}
.cards-container{

  background-color: rgb(97, 95, 95);

  position: absolute;
}
a{
  margin:5px;
  text-decoration: none;
  color:aliceblue
}
.card123{
  margin:5px;
  width:250px;
 display: flex;
 justify-content: center;
  border-radius: 0px 8px 8px 0px;
  background-color: rgb(97, 95, 95);
} */